{% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1>About Us!</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
            <p></p>
            <h5 class="about-text">"Welcome to GrubNest, where taste meets tradition. Since 2005, we've been committed to crafting delightful meals made from the freshest ingredients, ensuring every bite is an unforgettable experience."
            </h5>
        </div>
    </div>
</div>
{% endblock content %}
