{% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1 style="color: #FFD700; text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); font-weight: bold;">Online Food Delivery Service</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="card col-md-5 col-sm-12 offset-md-1 p-4 text-center" style="background-color: rgba(255, 255, 255, 0.8); border: 1px solid #FFD700;">
            <h2 style="color: #FF4500; font-weight: bold;">Place an Order!</h2>
            <a href="{% url 'order' %}" class="btn btn-outline-primary" style="color: white; background-color: #FF4500; border-color: #FF4500;">
                Order Now!
            </a>
        </div>
    </div>
</div>
{% endblock content %}
